* {
  margin: 0;
  padding: 0;
  font-size: calc(8px + 0.6vw);
  font-family: Montserrat;
  box-sizing: border-box;
}

h2 {
  font-size: 2.85rem;
  font-weight: 700;
  color: #252b42;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #737373;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #737373;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #737373;
}

h6 {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  font-size: 1.14rem;
  font-weight: 700;
  line-height: 1.7rem;
}

:root {
  --cernl: #8d5cf6;
  --benov: #ea4c89;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

.container {
  max-width: 74rem;
  margin: 0 auto;
}

.navbar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.navbar .medicalabs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.navbar .medicalabs .h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 1rem;
}

.login {
  display: flex;
  align-items: center;
}

.login h3 {
  padding-right: 2rem;
}

.navbar .linkler {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.navbar .linkler li {
  list-style-type: none;
}

.navbar .linkler li a {
  color: black;
  text-decoration: none;
}

.navbar .login .button {
  background-color: var(--cernl);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  color: white;
}

.navbar .login .button i {
  padding-left: 0.7rem;
}

.forbetter .container .ilk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.forbetter .container .ilk .col-md-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.forbetter .col-md-6 img {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: -0.7rem;
  left: 4rem;
  top: -1.5rem;
}
.forbetter .container .ilk .col-md-6:nth-child(2) {
  width: 50%;
}

.forbetter .container .ilk .col-md-6 .h1 h1 {
  font-size: 3.7rem;
  font-weight: 800;
  padding-left: 0.7rem;
  color: #252b42;
  padding-top: 1rem;
  line-height: 5rem;
}

.forbetter .container .ilk .col-md-6 .h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px dashed var(--cernl);
  border-radius: 0.5rem;
  border-right-style: none;
}

.forbetter .container .ilk .col-md-6 h5 {
  color: var(--cernl);
  margin: 1.4rem 0;
}

.forbetter .container .ilk .col-md-6 h3 {
  font-size: 1.4rem;
  color: #737373;
  max-width: 40ch;
}

.forbetter .container .ilk .col-md-6 .buttonlar {
  margin-top: 10px;
  display: flex;
  gap: 0.7rem;
}

.forbetter .container .ilk .col-md-6 .buttonlar > * {
  border: 1px solid grey;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  font-weight: 700;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button1 {
  background-color: var(--cernl);
  color: white;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button2 {
  background-color: white;
  color: var(--cernl);
}

.companies .container .row {
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
}

.companies .container .row {
  max-width: 100%;
}

.ouractivity .container .r1 {
  margin: 100px 1.4rem 100px;
}

.ouractivity .container .r1 h2 {
  font-size: 3rem;
  position: relative;
  font-weight: 800;
  color: #252b42;
}

.ouractivity .container .r1 p:nth-child(3) {
  position: relative;
  top: -1rem;
}

.ouractivity .container .r1 h2::before {
  content: "Xərçəngə Qulluq";
  font-size: 1rem;
  position: absolute;
  top: -2rem;
  color: var(--cernl);
}

.ouractivity .container .r2 img {
  max-width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.ouractivity .container .r2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ouractivity .container .r2 .col-md-3 h5::after {
  content: "";
  width: 4rem;
  height: 2px;
  background-color: var(--benov);
  display: block;
  margin-top: 1.4rem;
}

.ouractivity .container .r2 .col-md-3 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  box-shadow: 0 0.4rem 0 #7b727219;
  width: 20%;
}

.thebestreference .container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 14rem auto;
}

.thebestreference .container .row .birinci {
  min-width: 50%;
}

.thebestreference .container .row .birinci img {
  width: 100%;
}

.thebestreference .container .row .ikinci {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 38%;
  margin-left: 6rem;
}

.thebestreference .container .row .ikinci h2 {
  margin: 2rem 0;
}

.thebestreference .container .row .ikinci h2::before {
  content: "";
  width: 7rem;
  height: 0.5rem;
  background-color: var(--benov);
  display: block;
  margin-bottom: 3rem;
}

.thebestreference .container .row .ikinci h3 {
  color: var(--cernl);
  margin: 2rem 0;
}

.ourdoctors .container .first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ourdoctors .container .first h6 {
  color: var(--cernl);
}

.ourdoctors .container .first p {
  margin: 0;
}

.ourdoctors .container .second {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ourdoctors .container .second .col {
  max-width: 238px;
}

.ourdoctors .container .second .col .img {
  position: relative;
}
.ourdoctors .container .second .col .img h6 {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
}

.ourdoctors .container .second .col .img .icons {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 14.5rem;
  left: 2.5rem;
}

.ourdoctors .container .second .col .img .icons i {
  font-size: 1.3rem;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourdoctors .container .second .col .althisse .althisseic {
  margin-top: 2rem;
  margin-left: 1.4rem;
}

.ourdoctors .container .second .col .althisse .althisseic .yuxari {
  display: flex;
  justify-content: space-between;
}

.ourdoctors .container .second .col .althisse .althisseic .yuxari img {
  width: 3.2rem;
  height: 2rem;
}
.ourdoctors .container .second .col .althisse .althisseic .yuxari h6 {
  color: var(--cernl);
}

.ourdoctors .container .second .col .althisse .althisseic > h5 {
  margin-top: 2rem;
}
.ourdoctors .container .second .col .althisse .althisseic .h5h6 {
  margin: 1.4rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ourdoctors .container .second .col .althisse .althisseic .h5h6 h5 {
  color: #bdbdbd;
}

.ourdoctors .container .second .col .althisse .althisseic .h5h6 h6 {
  color: #ff7b52;
}

.ourdoctors .container .second .col .althisse .althisseic .pro {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.ourdoctors .container .second .col .althisse .althisseic .pro h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.ourdoctors .container .second .col .althisse .althisseic .pro h5 i {
  color: #8d5cf6;
  margin-right: 0.4rem;
}

.ourdoctors .container .second .col .althisse .althisseic .pro .aa {
  color: #e77c40;
}

.ourdoctors .container .second .col .althisse .althisseic .learn {
  border: 1px solid var(--cernl);
  text-align: center;
  color: var(--cernl);
  padding: 0.7rem 1rem;
  border-radius: 3.5rem;
  max-width: fit-content;
}

.ourdepartment .container .first {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ourdepartment .container .first h6 {
  color: var(--cernl);
}

.ourdepartment .container .second {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.ourdepartment .container .second .col {
  max-width: 23rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.ourdepartment .container .second .col .img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.4rem;
}

.ourdepartment .container .second .col p {
  max-width: 31.4rem;
  text-align: center;
}

.ourdepartment .container .second .col h6 {
  font-weight: 700;
}

.ourteam .container .first {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.ourteam .container .first h6 {
  color: var(--cernl);
}

.ourteam .container .first p {
  margin: 0;
}

.ourteam .container .second {
  margin-top: 11.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.ourteam .container .second .col {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.4rem 0 #251c1c0f;
  height: 25rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.ourteam .container .second .col .img {
  border: 1px solid white;
  width: 238px;
  height: 231px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.4rem;
}

.ourteam .container .second .col .icons {
  display: flex;
  gap: 1rem;
}

.ourteam .container .second .col .icons i {
  color: var(--benov);
  font-size: 1.4rem;
}

.joinus .container .first {
  margin-top: 10rem;
  text-align: center;
}

.joinus .container .first h6 {
  color: var(--cernl);
}

.joinus .container .first p {
  margin: 0;
}

.joinus .container .first .input {
  margin-top: 6rem;
}

.joinus .container .first .input input {
  height: 2.5rem;
  max-width: 42rem;
  border: 1px solid #e6e6e6;
}

.joinus .container .first .input input::placeholder {
  color: #737373;
  font-size: 1rem;
  font-weight: 700;
}

.joinus .container .first .input button {
  border: 1px solid #8d5cf6;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  height: 2.5rem;
  background-color: #8d5cf6;
  color: white;
  position: relative;
  padding: 0 1.4rem;
  left: -3.3px;
  font-size: 1rem;
  font-weight: 400;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 76rem;
  margin: 14rem auto;
  flex-direction: column;
}
.footer .container .first {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .first .col {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer .first .col a {
  color: #737373;
  text-decoration: none;
  width: 10rem;
}
.footer .first .col i {
  color: var(--cernl);
  margin-right: 1rem;
  font-size: 1.4rem;
}

.footer .first .col .iconlink {
  display: flex;
}

.footer .first .col.son .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .first .col.son .icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer .first .col.son a {
  width: 18rem;
}

.footer .container .second {
  display: grid;
  grid-template-columns: repeat(auto-fit, auto);
  justify-content: space-between;
  margin-top: 7rem;
}

.footer .container .second .icons {
  display: flex;
  gap: 1rem;
}

.footer .container .second .icons i {
  color: var(--cernl);
  font-size: 1.4rem;
}

@media (max-width: 391px) {
  .container {
    max-width: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .medicalabs {
    display: flex;
    justify-content: center;
  }

  .forbetter .container .ilk .col-md-6:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .forbetter .container .ilk .col-md-6:nth-child(2) {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .companies .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .ouractivity .container .r1,
  .r2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200%;
    gap: 2rem;
  }

  .ouractivity .container .r2 .col-md-3 {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .ouractivity .container .r1 p {
    margin: -3px;
  }

  .ouractivity .container .r1 h2::before {
    margin-left: 6rem;
  }
  .ouractivity .container .r2 .col-md-3 h5::after {
    content: "";
    width: 12rem;
    height: 2px;
    background-color: var(--benov);
    display: block;
    margin-top: 1.4rem;
  }

  .thebestreference .container .row .ikinci h2::before {
    content: "";
    width: 14rem;
    height: 0.5rem;
    background-color: var(--benov);
    margin-bottom: 3rem;
    margin-top: 10rem;
  }

  .thebestreference .container .row .ikinci {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .forbetter .col-md-6 img {
    position: relative;
    width: 88%;
    height: 100%;
  }
  .forbetter .container .ilk .col-md-6:nth-child(2) {
    width: 100%;
  }

  .forbetter .container .ilk .col-md-6 .h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px dashed var(--cernl);
    border-radius: 0.5rem;
  }
  
  .ourdoctors .container .first{
    text-align: center;
  }

  .ourdoctors .container .second {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .ourdepartment .container .second {
    display: flex;
    align-items: center;
    flex-direction: column;
  }



  .footer .container .first {
    display: flex;
    flex-direction: column;
  }

  .footer .container .first .col {
    align-items: center;
    text-align: center;
  }

  .footer .container .second {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .footer .container .second .icons {
    justify-content: center;
  }

}
