* {
  margin: 0;
  font-size: 14px;
  font-family: Montserrat;
  box-sizing: border-box;
}

:root {
  --cernl: #8d5cf6;
  --benov: #ea4c89;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

.navbar {
  margin: 0 auto;
  padding: 40px;
  width: 1322px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.navbar h2 {
  position: relative;
  left: -20px;
  font-size: 2rem;
  font-weight: 700;
}

.navbar .linkler {
  display: flex;
  gap: 25px;
  position: relative;
  left: -70px;
}

.navbar .linkler li {
  list-style-type: none;
}

.navbar .linkler li a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar h3 {
  position: relative;
  right: -70px;
  font-size: 1.2rem;
}

.navbar .login .button {
  background-color: var(--cernl);
  padding: 15px 25px;
  font-size: 1.2rem;
  border-radius: 6px;
  color: white;
  border: 1px solid --cernl;
  font-family: montserrat;
}

.navbar .login .button i {
  padding-left: 10px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.forbetter .container .ilk {
  display: flex;
  margin-top: 70px;
}

.forbetter .container .ilk .col-md-6 {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.forbetter .container .ilk .col-md-6 .h1 h1 {
  font-size: 4rem;
  font-weight: 800;
  padding-left: 10px;
  color: #252b42;
  padding-inline: 20px;
  padding-top: 30px;
  line-height: 80px;
}

.forbetter .container .ilk .col-md-6 .h1 .hh {
  position: relative;
  top: -40px;
}

.forbetter .container .ilk .col-md-6 .h1 {
  border: 1px dashed var(--cernl);
  border-radius: 7px;
  border-right-style: none;
  margin-top: 20px;
  width: 90%;
  height: 370px;
}

.forbetter .container .ilk .col-md-6 h2 {
  font-size: 1rem;
  color: var(--cernl);
  margin: 20px 0;
  font-weight: 900;
}

.forbetter .container .ilk .col-md-6 h3 {
  font-size: 20px;
  color: #737373;
  width: 40ch;
}

.forbetter .container .ilk .col-md-6 .buttonlar {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.forbetter .container .ilk .col-md-6 .buttonlar > * {
  border: 1px solid grey;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 700;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button1 {
  background-color: var(--cernl);
  color: white;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button2 {
  background-color: white;
  color: var(--cernl);
}

.companies .container .row {
  margin: 100px;
  display: flex;
  width: 1054px;
  justify-content: space-between;
}

.ouractivity .container {
  width: 1050px;
}
.ouractivity .container .r1 {
  margin: 200px -20px 100px;
}

.ouractivity .container .r1 h2 {
  font-size: 40px;
  position: relative;
  font-weight: 800;
  color: #252b42;
}

.ouractivity .container .r1 p:nth-child(3) {
  position: relative;
  top: -14px;
}

.ouractivity .container .r1 h2::before {
  content: "Cancer Care";
  font-size: 14px;
  position: absolute;
  top: -30px;
  color: var(--cernl);
  font-weight: 700;
}

.ouractivity .container .r2 img {
  margin-bottom: 35px;
  width: 72px;
  height: 72px;
}

.ouractivity .container .r2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ouractivity .container .r2 .col-md-3 h5::after {
  content: "";
  width: 65px;
  height: 2px;
  background-color: var(--benov);
  display: block;
  margin-top: 20px;
}

.ouractivity .container .r2 .col-md-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 0px #7b727233;
  width: 20%;
}

.ouractivity .container .r2 .col-md-3 h5 {
  font-weight: 700;
  line-height: 24px;
}

.ouractivity .container .r2 .col-md-3 p {
  width: 132px;
}

.thebestreference .container .row {
  display: flex;
  margin: 200px 0;
}

.thebestreference .container .row .ikinci {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 381px;
  margin-left: 100px;
}

.thebestreference .container .row .ikinci h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 30px 0;
}

.thebestreference .container .row .ikinci h2::before {
  content: "";
  width: 94px;
  height: 7px;
  background-color: var(--benov);
  display: block;
  margin-bottom: 40px;
}

.thebestreference .container .row .ikinci p{
    width: 351px;
}

.thebestreference .container .row .ikinci h5 {
  color: var(--cernl);
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0;
}
