* {
  margin: 0;
  font-size: 14px;
  font-family: Montserrat;
  box-sizing: border-box;
}

p {
  color: #737373;
}

h6 {
  color: #737373;
}
h5 {
  color: #252b42;
}

:root {
  --cernl: #8d5cf6;
  --benov: #ea4c89;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

.navbar {
  margin: 0 auto;
  padding: 40px;
  width: 1322px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.navbar h2 {
  position: relative;
  left: -20px;
  font-size: 2rem;
  font-weight: 700;
}

.navbar .linkler {
  display: flex;
  gap: 25px;
  position: relative;
  left: -70px;
}

.navbar .linkler li {
  list-style-type: none;
}

.navbar .linkler li a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar h3 {
  position: relative;
  right: -70px;
  font-size: 1.2rem;
}

.navbar .login .button {
  background-color: var(--cernl);
  padding: 15px 25px;
  font-size: 1.2rem;
  border-radius: 6px;
  color: white;
  border: 1px solid --cernl;
  font-family: montserrat;
}

.navbar .login .button i {
  padding-left: 10px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.forbetter .container .ilk {
  display: flex;
  margin-top: 70px;
}

.forbetter .container .ilk .col-md-6 {
  position: relative;
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.forbetter .container .ilk .col-md-6 img {
  position: absolute;
  width: 704px;
  height: 642px;
  bottom: -10px;
  top: -22px;
}
.forbetter .container .ilk .col-md-6 .h1 h1 {
  font-size: 4rem;
  font-weight: 800;
  padding-left: 10px;
  color: #252b42;
  padding-top: 30px;
  line-height: 80px;
}

.forbetter .container .ilk .col-md-6 .h1 .hh {
  position: relative;
  top: -40px;
}

.forbetter .container .ilk .col-md-6 .h1 {
  border: 1px dashed var(--cernl);
  border-radius: 7px;
  border-right-style: none;
  margin-top: 20px;
  width: 90%;
  height: 350px;
}

.forbetter .container .ilk .col-md-6 h2 {
  font-size: 1rem;
  color: var(--cernl);
  margin: 20px 0;
  font-weight: 900;
}

.forbetter .container .ilk .col-md-6 h3 {
  font-size: 20px;
  color: #737373;
  width: 40ch;
}

.forbetter .container .ilk .col-md-6 .buttonlar {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.forbetter .container .ilk .col-md-6 .buttonlar > * {
  border: 1px solid grey;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 700;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button1 {
  background-color: var(--cernl);
  color: white;
}

.forbetter .container .ilk .col-md-6 .buttonlar .button2 {
  background-color: white;
  color: var(--cernl);
}

.companies .container .row {
  margin: 150px auto;
  display: flex;
  width: 1054px;
  justify-content: space-between;
}

.ouractivity .container {
  width: 1050px;
}
.ouractivity .container .r1 {
  margin: 100px -20px 100px;
}

.ouractivity .container .r1 h2 {
  font-size: 40px;
  position: relative;
  font-weight: 800;
  color: #252b42;
}

.ouractivity .container .r1 p:nth-child(3) {
  position: relative;
  top: -14px;
}

.ouractivity .container .r1 h2::before {
  content: "Cancer Care";
  font-size: 14px;
  position: absolute;
  top: -30px;
  color: var(--cernl);
  font-weight: 700;
}

.ouractivity .container .r2 img {
  margin-bottom: 35px;
  width: 72px;
  height: 72px;
}

.ouractivity .container .r2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ouractivity .container .r2 .col-md-3 h5::after {
  content: "";
  width: 65px;
  height: 2px;
  background-color: var(--benov);
  display: block;
  margin-top: 20px;
}

.ouractivity .container .r2 .col-md-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 0px #7b727233;
  width: 20%;
}

.ouractivity .container .r2 .col-md-3 h5 {
  font-weight: 700;
  line-height: 24px;
}

.ouractivity .container .r2 .col-md-3 p {
  width: 132px;
}

.thebestreference .container .row {
  display: flex;
  margin: 200px 0;
}

.thebestreference .container .row .ikinci {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 381px;
  margin-left: 100px;
}

.thebestreference .container .row .ikinci h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 30px 0;
  color: #252b42;
}

.thebestreference .container .row .ikinci h2::before {
  content: "";
  width: 94px;
  height: 7px;
  background-color: var(--benov);
  display: block;
  margin-bottom: 40px;
}

.thebestreference .container .row .ikinci p {
  width: 351px;
}

.thebestreference .container .row .ikinci h5 {
  color: var(--cernl);
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0;
}

.ourdoctors .container .first {
  display: flex;
  flex-direction: column;
}

.ourdoctors .container .first h6 {
  color: var(--cernl);
  font-weight: 700;
}

.ourdoctors .container .first h2 {
  font-weight: 700;
  font-size: 40px;
}

.ourdoctors .container .first p {
  margin: 0;
}

.ourdoctors .container .second {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.ourdoctors .container .second .col {
  max-width: 238px;
}

.ourdoctors .container .second .col .img {
  position: relative;
}
.ourdoctors .container .second .col .img h6 {
  border: 1px solid red;
  width: 51px;
  height: 24px;
  text-align: center;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ourdoctors .container .second .col .img .icons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: absolute;
  top: 236px;
  left: 49px;
  width: 140px;
}

.ourdoctors .container .second .col .img .icons i {
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourdoctors .container .second .col .althisse .althisseic {
  margin-top: 30px;
  margin-left: 20px;
}

.ourdoctors .container .second .col .althisse .althisseic .yuxari {
  display: flex;
  justify-content: space-between;
}

.ourdoctors .container .second .col .althisse .althisseic .yuxari img {
  width: 50px;
  height: 26px;
}
.ourdoctors .container .second .col .althisse .althisseic .yuxari h6 {
  font-weight: 700;
  color: var(--cernl);
}

.ourdoctors .container .second .col .althisse .althisseic .yuxari h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.ourdoctors .container .second .col .althisse .althisseic > h5 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.ourdoctors .container .second .col .althisse .althisseic p {
  font-weight: 400;
  line-height: 20px;
}

.ourdoctors .container .second .col .althisse .althisseic h6 {
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}

.ourdoctors .container .second .col .althisse .althisseic .h5h6 {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.ourdoctors .container .second .col .althisse .althisseic .h5h6 h5 {
  color: #bdbdbd;
}

.ourdoctors .container .second .col .althisse .althisseic .h5h6 h6 {
  color: #ff7b52;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.ourdoctors .container .second .col .althisse .althisseic .pro {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.ourdoctors .container .second .col .althisse .althisseic .pro h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.ourdoctors .container .second .col .althisse .althisseic .pro h5 i {
  color: #8d5cf6;
  margin-right: 5px;
}

.ourdoctors .container .second .col .althisse .althisseic .pro .aa {
  color: #e77c40;
}

.ourdoctors .container .second .col .althisse .althisseic .learn {
  border: 1px solid var(--cernl);
  text-align: center;
  color: var(--cernl);
  padding: 10px 25px;
  border-radius: 50px;
  width: fit-content;
}

.ourdepartment .container .first {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.ourdepartment .container .first h6 {
  color: var(--cernl);
  font-weight: 700;
}

.ourdepartment .container .first h2 {
  font-weight: 700;
  font-size: 40px;
}

.ourdepartment .container .first p {
  margin: 0;
}

.ourdepartment .container .second {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}

.ourdepartment .container .second .col {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.ourdepartment .container .second .col .img {
  border: 1px solid white;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.ourdepartment .container .second .col p {
  width: 320px;
  text-align: center;
}

.ourdepdepartmentartment .container .second .col h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.ourdepartment .container .second .col h6 {
  font-weight: 700;
}

.ourteam .container .first {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.ourteam .container .first h6 {
  color: var(--cernl);
  font-weight: 700;
}

.ourteam .container .first h2 {
  font-weight: 700;
  font-size: 40px;
}

.ourteam .container .first p {
  margin: 0;
}

.ourteam .container .second {
  margin-top: 120px;
  display: flex;
  gap: 14px;
}

.ourteam .container .second .col {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 0px #7b72720f;
  width: 23%;
  height: 375px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.ourteam .container .second .col .img {
  border: 1px solid white;
  width: 238px;
  height: 231px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.ourteam .container .second .col h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.ourteam .container .second .col h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.ourteam .container .second .col .icons {
  display: flex;
  gap: 15px;
}

.ourteam .container .second .col .icons i {
  color: var(--benov);
  font-size: 20px;
}

.joinus .container .first {
  margin-top: 150px;
  text-align: center;
}

.joinus .container .first h6 {
  color: var(--cernl);
  font-weight: 700;
}

.joinus .container .first h2 {
  font-weight: 700;
  font-size: 40px;
}

.joinus .container .first p {
  margin: 0;
}

.joinus .container .first .input {
  margin-top: 80px;
}

.joinus .container .first .input input {
  height: 49px;
  width: 600px;
  border: 1px solid #e6e6e6;
}

.joinus .container .first .input input::placeholder {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.joinus .container .first .input button {
  border: 1px solid #8d5cf6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 49px;
  background-color: #8d5cf6;
  color: white;
  position: relative;
  padding: 0 20px;
  left: -3.3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.footer .container {
  display: flex;
  width: 1041px;
  margin: 200px auto;
  flex-direction: column;
}

.footer .container .first {
  display: flex;
  gap: 20x;
}

.footer .first .col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 170px;
  justify-content: space-evenly;
}

.footer .first .col a {
  color: #737373;
  text-decoration: none;
  width: 142px;
}
.footer .first .col i {
  color: var(--cernl);
  margin-right: 10px;
  font-size: 20px;
}

.footer .first .col .iconlink {
  display: flex;
  height: 118px;
}

.footer .first .col.son .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .first .col.son .icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer .first .col.son a {
  width: 256px;
}
.footer .first .col h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.footer .first h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.footer .container .second {
  margin-top: 100px;
}

.footer .container .second h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.footer .container .second .icons {
  display: flex;
  gap: 15px;
  position: relative;
  right: -900px;
  top: -40px;
}

.footer .container .second .icons i {
  color: var(--cernl);
  font-size: 20px;
}
