* {
  margin: 0;
  font-size: 14px;
  font-family: Montserrat;
}

:root {
  --cernl: #8d5cf6;
  --benov: #ea4c89;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}


header {
  display: flex;
  justify-content: center;
}
.navbar {
  padding: 40px;
  width: 1322px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.navbar h2 {
  position: relative;
  left: -20px;
  font-size: 2rem;
}

.navbar .linkler {
  display: flex;
  gap: 25px;
  position: relative;
  left: -70px;
}

.navbar .linkler li {
  list-style-type: none;
}

.navbar .linkler li a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar h3 {
  position: relative;
  right: -70px;
  font-size: 1.2rem;
}

.navbar .login .button {
  background-color: var(--cernl);
  padding: 15px 25px;
  font-size: 1.2rem;
  border-radius: 6px;
  color: white;
  border: 1px solid --cernl;
  font-family: montserrat;
}

.navbar .login .button i {
  padding-left: 10px;
}